/*
 * === Footer style ===
 */

/* Footer style */
footer {
  background-color: #ffffff;
  border-top: 1px solid #cccccc;
  bottom: 0px;
	justify-content: center;
  text-align: center;
	display: flex;
  height: 60px;
  position: absolute;
  width: 100%;
}
